@model User

<div>
    <p>@Model.UserName</p>
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
    <p>@Model.Email</p>
    <p>@Model.Phone</p>
    <p>@Model.CreatedAt</p>
    <p>@Model.UpdatedAt</p>
</div>